# Установить поведение по умолчанию для всех файлов
* text=auto

# Явно указать бинарные файлы Unity
*.unitybinary binary
*.prefab binary
*.asset binary
*.mat binary
*.meta binary
*.png binary
*.jpg binary
*.fbx binary
*.obj binary

# Указать текстовые файлы
*.cs text
*.shader text
*.txt text
*.md text
.gitignore text
.gitattributes text